.night {
/*    background-image: linear-gradient(#b1123a, #484349);*/
  background-color: #484349;
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 7000px;
}

.night h3 {
  display: inline;
}

.night .sched-date > p {
  display: inline;
}

.schedule-prizes-container {
  display: flex;
  flex-direction: column;
}

.sched-container {
  position: absolute;
  top: 50vh;
  left: 50px;
  height: 50vh;
  color: white;
  font-family: 'Eurostile', sans-serif;
  display: flex;
  flex-direction: column;
}


#sched-title, #prize-title {
  text-orientation:upright;
  writing-mode: vertical-lr;
  font-size: 5vh;
  margin-right: 100px;
  background-color: var(--red);
}

.sched-row {
  display: flex;
  margin-bottom: 5vh;
/*  height: 35%;*/
  flex-grow: 1;
}

.sched-row > * {
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgb(86, 86, 86);
  padding: 10px;
}

.sched-date h3 {
  font-size: 2.5rem;
}

.sched-date p {
  font-size: 1.5rem;
}

.sched-event h4 {
  font-size: 1.2rem;
}

.sched-event {
  font-family: 'Inter', sans-serif;
  display: table;
/*  margin-left: 20px;*/
  padding: 0 10px;
  max-width: 296px;
  width: 296px;
}

.sched-event ~ .sched-event {
  margin-left: 20px;
}

.sched-event p {
  font-size: 0.8rem;
}

.event-info {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.bold {
  font-family: 'EurostileBold', sans-serif;
}

.sunday {
  color: #F4D06F;
}

.saturday {
  color: #EF946C;
}

.friday {
  color: #84C0C6;
}

.side-hacks {
  left: 5950px;
}

.mlh-categories {
  left: 6450px;
}

.modal-open {
  position: absolute; 
  background-color: rgba(255, 255, 255, 0.1); 
  top: 5vh;
  z-index: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1); 
}

.modal-open h3 {
  font-family: 'EurostileBold', sans-serif; 
  font-size: 35px; 
}

.modal-open .buttons {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 15px;
}

.modal-open button {
  width: 210px;
  margin: 0 auto; 
  padding: 15px;
  background-color: var(--light-blue);
  border: 2px solid var(--dark-blue); 
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidehack-btn:hover {
  color: white;
  border: 2px solid white;
  background-color: var(--blue);
}

.prizes-container {
  position: absolute;
  left: 50px;
  top: 5vh;
  display: flex;
  height: 260px;
}

#prize-title {
  color: white;
  font-size: 6vh;
}

.category {
  margin-right: 40px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-family: 'Inter', sans-serif;
  position: relative;
  border-radius: 10px;
}

.category .title {
  background-color: white;
  display: inline;
  position: absolute;
  border-radius: 5px;
  padding: 7px;
  letter-spacing: 2px;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.places {
  display: flex;
  position: relative;
}
.places > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
}
.prize-info {
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 40px;
  
}

.prize-info img {
  width: 100%;
}

.raffle {
  background-color: rgba(167, 45, 41, 0.5);
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1); 
  padding: 20px;
  font-size: 18px;
  font-family: 'Inter', sans-serif; 
  border-radius: 10px; 
  text-align: center;
  color: white;
}

.raffle h3 {
  font-family: 'EurostileBold', sans-serif; 
  text-transform: uppercase; 
  font-size: 30px; 
}

.raffle ul {
  list-style: none; 
}

.raffle li {
  margin-top: 13px; 
}

@media screen and (max-height: 930px) {
  .sched-container {
/*    top: 50vh;*/
  }
  .sched-row {
    margin-bottom: 2vh;
  }
  #sched-title {
    font-size: 2.3em;
  }
}

@media screen and (max-height: 780px){
  .sched-container {
    transform: scale(0.8);
/*    top: 50vh;*/
    left: 50px;
  }
  #sched-title {
    font-size: 2rem;
  }
  .sched-row {
    margin-bottom: 5px;
  }
}