.night {
/*    background-image: linear-gradient(#b1123a, #484349);*/
  background-color: var(--dark-purple);
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: calc(100vw + 1000px);
}

.night h3 {
  display: inline;
}

.night .sched-date > p {
  display: inline;
}


.schedule-prizes-container {
  display: flex;
  flex-direction: column;
/*  padding: 5vh;*/
  position: absolute;
  width: 100vw;
  background-image: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0) 60%),
                    linear-gradient(0deg, #000000 50%, rgba(0, 0, 0, 0) 60%);
  height: 100%;
}

.schedule-prizes-container button {
  background: none;
  color: white;
  border: none;
}

.sched-container {
  /*position: absolute;
  top: 50vh;
  left: 50px;*/
  margin-top: 50vh;
  height: 45vh;
  color: white;
  font-family: 'Eurostile', sans-serif;
  display: flex;
  flex-direction: column;
/*  display: none;*/
  z-index: 3;
  padding-left: 5vh;
  width: 1000%;
}

#sched-title, #prize-title {
  text-orientation:upright;
  writing-mode: vertical-lr;
  font-size: 5vh;
  margin-right: 100px;
  background-color: var(--red);
}

.sched-row {
  display: flex;
/*  margin-bottom: 5vh;*/
  height: 10vh;
  flex-grow: 1;
  overflow: hidden;
}

.sched-row .sched-event {
  border: 1px solid rgb(86, 86, 86);
  height: 10vh;
/*  padding: 10px;*/
}

.sched-row .sched-mask {
  background-image: linear-gradient(90deg, #000000, rgba(0, 0, 0, 0) 5% 90%, #000000);
  position: absolute;
  left: -5vw;
  width: 105vw;
  z-index: 4;
}

.sched-row button {
  position: absolute;
  z-index: 5;
  height: 10vh;
  width: 5vw;
  font-size: 300%;
}

.sched-row .prev-schedule {
  background-image: linear-gradient(90deg, #000000, rgba(0, 0, 0, 0));
  display: none;
}

.sched-row .next-schedule {
  background-image: linear-gradient(270deg, #000000, rgba(0, 0, 0, 0));
  right: 0;
  display: none;
}

.TBD {
  text-align: center;
  font-size: 50px;
  width: 100vw;
}

.sched-event-container {
  display: flex;
  position: relative;
  transition: left 0.5s;
  left: 0;
  display: none;
}

.sched-date h3 {
  font-size: 2.5rem;
}

.sched-date p {
  font-size: 1.5rem;
}

.sched-event h4 {
  font-size: 1.2rem;
}

.sched-event {
  font-family: 'Inter', sans-serif;
  display: table;
  padding: 0 10px;
  max-width: 296px;
  width: 296px;
  overflow: hidden;
}

.sched-event ~ .sched-event {
  margin-left: 20px;
}

.sched-event p {
  font-size: 0.8rem;
}

.event-info {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.bold {
  font-family: 'EurostileBold', sans-serif;
}

.sunday {
  color: var(--yellow);
}

.saturday {
  color: var(--orange);
}

.friday {
  color: var(--light-blue);
}

.side-hacks {
  left: 3000px;
}

.mlh-categories {
  left: 3000px;
}

.prizes-container {
  position: absolute;
  /*position: absolute;
  left: 50px;
  top: 5vh;*/
  height: 100vh;
  display: flex;
  margin: 0vh;
}

#prize-title {
  color: white;
  font-size: 6vh;
}

.prev-category, .next-category {
  position: absolute;
  z-index: 3;
  width: 5%;
  height: 40%;
  font-size: 400%;
}

.next-category {
  right: 0%;
}

.category {
/*  margin-right: 40px;*/
/*  border: 1px solid rgba(255, 255, 255, 0.6);*/
  font-family: 'Inter', sans-serif;
  position: absolute;
/*  border-radius: 10px;*/
  width: 99vw;
  height: 100%;
  transition-duration: 1s;
  transition-property: opacity;
}

.category .title {
  background-color: white;
  display: inline;
  position: absolute;
/*  border-radius: 5px;*/
  padding: 7px;
/*  letter-spacing: 2px;*/
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.prize-desc p a {
  text-decoration: none;
  color: var(--purple);
}

.places {
  display: flex;
  position: relative;
}

.places > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.prize-info {
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 40px;
  
}

.prize-desc {
  padding: 5%;
  padding-right: 60%;
  color: white;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.prize-desc h3 {
  font-size: 30px;
}

.prize-desc p {
/*  margin-top: 25px;*/
  color: #aaaaaa;
  font-size: 1em;
}

.prize-image {
  position: absolute;
  left: 55%;
  top: 0%;
  width: 40%;
}

.developer .prize-image {
  left: 55%;
}

.beginner .prize-image {
  width: 35%;
}

.startup .prize-image {
  left: 65%;
  top: 1%;
  width: 15%;
}

.crowd-vote .prize-image {
  left: 65%;
  top: 1%;
  width: 18%;
}

.raffle .prize-image {
  width: 35%;
}

.prize-image img {
  z-index: 1;
  width: 100%;
}

.prize-info img {
  width: 100%;
}


.modal-open {
  position: absolute; 
  background-color: rgba(255, 255, 255, 0.1); 
  top: 5vh;
  z-index: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1); 
}

.modal-open h3 {
  font-family: 'EurostileBold', sans-serif; 
  font-size: 35px; 
}

.modal-open .buttons {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 15px;
}

.modal-open button {
  width: 210px;
  margin: 0 auto; 
  padding: 15px;
  background-color: var(--light-blue);
  border: 2px solid var(--dark-blue); 
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidehack-btn:hover {
  color: white;
  border: 2px solid white;
  background-color: var(--blue);
}



@media screen and (max-height: 896px) {
  .sched-container {
/*    top: 50vh;*/
  }
  .sched-row {
/*    margin-bottom: 2vh;*/
  }
  #sched-title {
    font-size: 2.3em;
  }
  .prize-desc p {
    font-size: 1.2em;
  }
}

@media screen and (max-height: 780px){
  .sched-container {
/*    transform: scale(0.8);*/
/*    top: 50vh;*/
/*    left: 50px;*/
  }
  #sched-title {
    font-size: 2rem;
  }
  .sched-row {
/*    margin-bottom: 5px;*/
  }
  .prize-desc p {
    font-size: 0.9em;
  }
}