.ocean {
    position: relative;
    z-index: 5;
    background-color: white;
    width: 6500px;
}

#sponsors-title {
  color: white;
  text-orientation:upright;
  writing-mode: vertical-lr;
  font-size: calc(2.3em + 1vh);
  margin-right: 200px;
  background-color: var(--dark-blue);
  margin-top: 10vh;
  padding: 5px;
  position: relative;
}

.insta-post {
  border-radius: 5px;
  border-color: silver;
  border-style: solid;
  border-width: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  position: relative;
}

.insta {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

a.insta {
  color: black;
  text-decoration: none;
}

.insta-top {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 7px 4px 7px 16px;
  position: relative;
  justify-content: flex-start;
}

.insta-account {
  font-weight: 600;
  font-size: .875rem;
}

.insta-logo {
  height: 32px;
  width: 32px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px 5px 5px 0px;
}

.insta-body {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  padding: 14px 16px 14px 16px;
  background-color: #eee;
}

.insta-body-image {
  width: 100%;
}

.insta-caption {
  width: 100%;
  padding: 14px 4px 14px 16px;
}

.sponsors {
  display: flex;
  position: relative;
  left: 200px;
}

.bronze {
  position: relative;
  left: 2150px;
}

.silver {
  position: relative;
  left: 1000px;
}

.gold {
  position: relative;
  left: 0;
}

.black-shadow {
  -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
}

.white-shadow {
  -webkit-filter:drop-shadow(0 0 5px white);
  filter: drop-shadow(0 0 5px white);
}

.banner {
  font-family: 'EuroStileBold', sans-serif;
  text-align: center;
  font-size: 4vh;
  padding: 15px 60px;
  margin: 10px;
  position: absolute;
  color: white;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.4);
  border-radius: 5px;
  letter-spacing: 3px;
  transition: all 0.5s ease;
  box-shadow: 6px 6px 0 rgba(0,0,0,0.4);
}

.banner p {
  transition: all 0.5s ease;
}

.banner:hover {
  font-size: 4.5vh;
  text-shadow: 6px 6px 6px rgba(0,0,0,0.4);
}

.banner:hover p {
  transform: translate(-3px, -3px);
}

#panera {top: 30vh; left: 400px;}
#wwt {top: 0vh; left: 0px;}

#shelter {top: 15vh; left: 310px;}

#central {top: 41vh; left: 740px;}
#sdp {top: 14vh; left: 520px;}
#vu {top: 48vh; left: 330px;}
#tradebot {top: 17vh; left: 70px;}
#enterprise {top: 12vh; left: 720px;}
#commerce {top: 40vh; left: 40px;}
#garmin {top: 0vh; left: 0px;}
#cfe {top: 0vh; left: 0px;}





#gold-banner {
  left: 260px;
  background-image: linear-gradient(rgb(194, 139, 0), rgb(255, 200, 62), rgb(194, 139, 0));
}
#silver-banner {
  left: 350px;
  background-image: linear-gradient(rgb(122, 122, 122), rgb(224, 224, 224), rgb(122, 122, 122));
}
#bronze-banner {
  left: 250px;
  background-image: linear-gradient(rgb(173, 106, 40), rgb(238, 178, 117), rgb(173, 106, 40));
}
#partners-banner {
  padding: 15px 30px;
  top: 10vh;
  left: 100px;
  background-image: linear-gradient(rgb(40, 111, 173), rgb(86, 164, 232), rgb(40, 111, 173));
  font-size: 3vh;
}

.committee {
  position: absolute;
  top: 0;
  left: 4300px;
  width: 200px;
  height: 200px;
}

#committee-title {
  text-orientation:upright;
  writing-mode: vertical-lr;
  height: auto;
  position: relative;
  top: 3vh;
  color: white;
  background-color: var(--dark-blue);
  padding: 5px;
  font-size: 2.6vh;
}

.members {
  position: absolute;
  top: 8vh;
  left: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.member {
  margin: 0 00px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24vh;
  max-width: 270px;
}

.member p {
  font-family: 'EurostileBold', sans-serif;
  
  text-transform: uppercase;
}

.member .name {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 1.8vh;
  color: var(--yellow);
  letter-spacing: 2px;
}

.member .title {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  color: var(--dark-blue);
  letter-spacing: 2px;
  font-size: 1.3vh;
}

.members .row {
  display: flex;
  justify-content:flex-start;
  margin: 0 auto;
}

.members img {
  height: 15vh;
  width: 15vh;
  max-width: 160px;
  max-height: 160px;
  border-radius: 150px;
  margin-bottom: 15px;
  border: 5px solid var(--yellow);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.partners {
  color: var(--dark-blue);
  left: 3200px;
  position: relative;
  font-family: 'Inter', sans-serif;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  height: 260px;
}

.partners .sponsor {
  background-image: url("../assets/bubble.png");
  background-size: contain;
  width: 13vh;
  height: 13vh;
}

.partners h3 {
  font-size: 1.6em;
  margin-top: 20px;
  text-decoration: underline
}

.partners img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 750px){
  #submarine, #submarinePng {
    left: 20px;
  }
}