
.register {
  background-color: var(--light-blue);
  font-family: "Inter", sans-serif;
  color: black;
  height: 100%;
  position: relative;
  z-index: 9;
}

#form-container {
  z-index: 1000;
  color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
}

.register-link {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  display: none;
}

.goback {
  position: absolute;
  background-color: var(--red);
  color: white;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

.register-page-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  font-family: 'Eurostile', sans-serif;
  text-transform: uppercase;
  background-color: var(--yellow);
  padding: 14px 22px 10px;
  font-size: 3vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  letter-spacing: 3px;
  border: 2px solid white;
  transition: all 0.2s ease;
/*  cursor: default;*/
}

.register-page-btn span {
  font-size: 8vw;
  font-family: 'EurostileBold', sans-serif;
}

 .register-page-btn:hover {
  background-color: var(--orange);
  border: 5px solid white;
  transform: translate(-50%, -50%) scale(1.05);
} 

.art {
  position: absolute;
  z-index: 0;
}
#art1 {
  bottom: 0;
  width: 40vw;
  right: 0;
}
#art2 {
  top: 0;
  left: 0;
  width: 50vw;
  transform: scale(-1);
}

#register-form, #success-container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  background-image: linear-gradient(var(--yellow), #db9a17, var(--yellow));
  padding: 20px;
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#register-form h2 {
  font-family: 'EurostileBold', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 20px;
  font-size: 3em;
  letter-spacing: 3px;
  text-shadow:
   -2px -2px 0 var(--red),  
    2px -2px 0 var(--red),
    -2px 2px 0 var(--red),
     2px 2px 0 var(--red),
     0 0 10px black;
}

#inputs {
  font-family: "Inter", sans-serif;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  /* display: none; */
  overflow: auto;
}

#inputs label {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
}

.register-input {
  margin: 5px 10px !important;
}

.bottom-row {
  padding: 0 10px;
}

.register .row{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.register input, .register select{
  padding: 5px;
  width: 100%;
}

.oneCol > div{
  flex: 100%;
}

.twoCol > div {
  flex: 50%
}

.threeCol > div {
  flex: 33.3%;
}

.submit-btn {
  text-align: right;
 
}

.submit-btn button {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--red);
  color: white;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.submit-btn button:hover{
  background-color: #3b8ebd;
}

#success-container{
  display: none;
  flex-direction: column;
  max-width: 800px;
}

#success-container h2 {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-weight: 800;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  margin-bottom: 40px;
}

#success-container p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#success-container p a {
  color: black;
  font-weight: 600;
}

.mlh-terms {
  display: block;
  flex-direction: column;
  font-size: 0.8em;
}

.check {
  display: flex;
  margin-bottom: 10px;
}

.check input {
  flex: 5%;
  height: 15px;
}

.check label {
  flex: 95%;
}
.check a {
  color: var(--dark-blue);
  font-weight: 500;
}
.check a:hover {
  color: #005380;
}
.mlh-terms label {
  display: inline;
  text-transform: unset !important;
}

#mlh-error {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.resumeRow {
  text-align: center;
}

.resumeRow input {
  width: auto;
}

#register-form label {
  font-weight: 500;
}
.separate * {
  padding: 0;
  box-sizing: border-box;
}
.separate .register {
  min-height: 100vh;
  position: relative;
}

.register-btn button {
  all: unset;
  padding: 15px 16px 10px;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: "Eurostile", sans-serif;
  font-weight: 600;
  text-transform: uppercase; 
  box-shadow: 5px 5px 5px black;
  border: 2px solid white; 
}

.register-btn button:visited, .register-btn button{
  color: white;
  text-decoration: none;
  opacity: 0.8;
  background-color: var(--red);
  border-radius: 15px;
  cursor: pointer;
}

.register-btn button:hover{
  transform: scale(1.1);
  opacity: 1;
}

.register-error-message{
  font-size: 12px;
  color: var(--red);
  height: 12px;
}

.separate .row {
  margin-bottom: 10px;
  justify-content: space-between;
}

.separate #register-form {
  position: relative;
  top: 0;
  transform: none;
  border-radius: 0;
  border: none;
}

@media only screen and (max-width: 750px), (max-height: 1000px) {
  .register .row {
    display: block;
  }
  .register-input {
    margin: 0 5px;
    padding: 0;
  }
  #register-form {
    width: 100%;
    padding: 5px;
    
  }
  #register-form label {
    font-size: 12px;
  }
  .stay {
    display: flex !important;
  }
  
  .stay > div {
    margin-left:5px;
    margin-right: 5px;
  }

  .submit-btn {
    text-align: center;
    
  }
  #sumbitFirebaseButton {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 550px) {
  .stay {
     display: block !important;
  }
}

@media screen and (max-width: 400px){
  #success-container p {
    font-size: 14px;
  }
}